<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
  <meta charset="UTF-8">
  <title>About Learner's Point</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-white text-black">

  {%include 'header.html'%}

  <div class="text-center mx-auto w-[90%] flex flex-col h-screen">
    <h1 class="text-4xl font-medium mt-10">About Learner's Point</h1>
    <p class="text-xl w-[80%] mx-auto">
      At Learner's Point, we are committed to transforming lives through practical, skill-based education tailored for
      the modern world. As a next-generation tech learning hub, our mission is to bridge the gap between knowledge and
      application—ensuring that our students don't just learn, but truly master their craft.
      Whether you're exploring Web Development, Digital Marketing, Graphic Design, or other in-demand skills, our
      courses are designed to be hands-on, easy to follow, and industry-relevant. Led by experienced instructors and
      supported by high-quality video content, our platform makes technical education accessible, affordable, and
      impactful.
    </p>
    <div class="lg:mt-10 mt-4">
      <div class="collapse collapse-arrow bg-base-100 border border-base-300 text-left">
        <input type="checkbox" />
        <div class="collapse-title font-semibold text-lg md:text-xl">How do I create an account?</div>
        <div class="collapse-content text-base md:text-lg">Click the "Sign Up" button in the top right corner and follow
          the registration process.</div>
      </div>
      <div class="collapse collapse-arrow bg-base-100 border border-base-300 text-left">
        <input type="checkbox" />
        <div class="collapse-title font-semibold text-lg md:text-xl">I forgot my password. What should I do?</div>
        <div class="collapse-content text-base md:text-lg">Click on "Forgot Password" on the login page and follow the
          instructions sent to your email.</div>
      </div>
      <div class="collapse collapse-arrow bg-base-100 border border-base-300 text-left">
        <input type="checkbox" />
        <div class="collapse-title font-semibold text-lg md:text-xl">How do I update my profile information?</div>
        <div class="collapse-content text-base md:text-lg">Go to "My Account" settings and select "Edit Profile" to make
          changes.</div>
      </div>
      <div class="collapse collapse-arrow bg-base-100 border border-base-300 text-left">
        <input type="checkbox" />
        <div class="collapse-title font-semibold text-lg md:text-xl">How do I update my profile information?</div>
        <div class="collapse-content text-base md:text-lg">Go to "My Account" settings and select "Edit Profile" to make
          changes.</div>
      </div>
    </div>

  </div>

  {%include 'footer.html'%}
</body>

</html>