<!DOCTYPE html>
<html lang="bn" data-theme="light">

<head>
  <meta charset="UTF-8">
  <title>লার্নার্স পয়েন্ট সম্পর্কে</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-white text-black">

  {%include 'header.html'%}

  <div class="text-center mx-auto w-[90%] flex flex-col h-screen">
    <h1 class="text-3xl font-bold my-6 text-blue-600">লার্নার্স পয়েন্ট সম্পর্কে</h1>
    <p class="text-xl w-[80%] mx-auto">
      লার্নার্স পয়েন্টে, আমরা আধুনিক বিশ্বের জন্য উপযুক্ত ব্যবহারিক, দক্ষতা-ভিত্তিক শিক্ষার মাধ্যমে জীবন পরিবর্তনের প্রতিশ্রুতি দিয়েছি। 
      পরবর্তী প্রজন্মের প্রযুক্তি শিক্ষার কেন্দ্র হিসেবে, আমাদের লক্ষ্য হল জ্ঞান এবং প্রয়োগের মধ্যে ব্যবধান দূর করা—নিশ্চিত করা যে 
      আমাদের শিক্ষার্থীরা শুধু শিখবে না, বরং তাদের দক্ষতায় সত্যিকারভাবে দক্ষ হবে।
      আপনি ওয়েব ডেভেলপমেন্ট, ডিজিটাল মার্কেটিং, গ্রাফিক ডিজাইন বা অন্যান্য চাহিদাসম্পন্ন দক্ষতা অন্বেষণ করছেন কিনা, আমাদের 
      কোর্সগুলি হাতে-কলমে, অনুসরণ করা সহজ এবং শিল্প-প্রাসঙ্গিক হওয়ার জন্য ডিজাইন করা হয়েছে। অভিজ্ঞ প্রশিক্ষকদের নেতৃত্বে এবং 
      উচ্চমানের ভিডিও সামগ্রীর সমর্থনে, আমাদের প্ল্যাটফর্ম প্রযুক্তিগত শিক্ষাকে সহজলভ্য, সাশ্রয়ী এবং প্রভাবশালী করে তোলে।
    </p>
    <div class="lg:mt-10 mt-4">
      <div class="collapse collapse-arrow bg-base-100 border border-base-300 text-left">
        <input type="checkbox" />
        <div class="collapse-title font-semibold text-lg md:text-xl">আমি কীভাবে একটি অ্যাকাউন্ট তৈরি করব?</div>
        <div class="collapse-content text-base md:text-lg">উপরের ডান দিকের কোণায় "সাইন আপ" বোতামে ক্লিক করুন এবং নিবন্ধন প্রক্রিয়া অনুসরণ করুন।</div>
      </div>
      <div class="collapse collapse-arrow bg-base-100 border border-base-300 text-left">
        <input type="checkbox" />
        <div class="collapse-title font-semibold text-lg md:text-xl">আমি আমার পাসওয়ার্ড ভুলে গেছি। আমি কী করব?</div>
        <div class="collapse-content text-base md:text-lg">লগইন পৃষ্ঠায় "পাসওয়ার্ড ভুলে গেছেন" এ ক্লিক করুন এবং আপনার ইমেইলে পাঠানো নির্দেশাবলী অনুসরণ করুন।</div>
      </div>
      <div class="collapse collapse-arrow bg-base-100 border border-base-300 text-left">
        <input type="checkbox" />
        <div class="collapse-title font-semibold text-lg md:text-xl">আমি কীভাবে আমার প্রোফাইল তথ্য আপডেট করব?</div>
        <div class="collapse-content text-base md:text-lg">পরিবর্তন করতে "আমার অ্যাকাউন্ট" সেটিংসে যান এবং "প্রোফাইল সম্পাদনা" নির্বাচন করুন।</div>
      </div>
      <div class="collapse collapse-arrow bg-base-100 border border-base-300 text-left">
        <input type="checkbox" />
        <div class="collapse-title font-semibold text-lg md:text-xl">আমি কীভাবে আমার প্রোফাইল তথ্য আপডেট করব?</div>
        <div class="collapse-content text-base md:text-lg">পরিবর্তন করতে "আমার অ্যাকাউন্ট" সেটিংসে যান এবং "প্রোফাইল সম্পাদনা" নির্বাচন করুন।</div>
      </div>
    </div>

  </div>

  {%include 'footer.html'%}
</body>

</html>