<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
  <meta charset="UTF-8">
  <title>Privacy Policy</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

{%include 'header.html'%}

<body class="bg-white text-black">

  <div class="text-center mx-auto w-[90%] flex flex-col">
    <h1 class="text-4xl font-medium mt-10">Privacy Policy</h1>
    <hr class="border-gray-200 my-6" />
    <p class="text-xl w-[80%] mx-auto">
      At Learner's Point, we value your privacy and are committed to protecting your personal information. This Privacy Policy outlines how we collect, use, and safeguard your data when you use our platform.
      We collect only the necessary information to provide our services, such as your name, email address, and course preferences. All data is stored securely and never shared with third parties without your explicit consent.
      Our website may use cookies to enhance user experience and track engagement. By using our services, you consent to the use of such technologies.
      We regularly review and update our privacy practices to ensure compliance and transparency. If you have any questions regarding our policy, please contact us directly.
    </p>
  </div>
  {%include 'footer.html'%}
</body>
</html>
